page-casa {

  .background {
  background-image: url('../assets/imgs/FONDO-01.png');
}

.scroll-content {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

}
